@charset "UTF-8";
/*
build: v1.13.3
design-tokens: v1.13.3
*/

@layer ds.theme.size-mode {
:root /* small */ {
  --ds-size-mode-font-size--sm: 1;
}
}

@layer ds.theme.size-mode {
:root /* medium */ {
  --ds-size-mode-font-size--md: 1.125;
}
}

@layer ds.theme.size-mode {
:root /* large */ {
  --ds-size-mode-font-size--lg: 1.3125;
}
}

@layer ds.theme.size-mode {
:root, [data-size] {
  --ds-size: var(--ds-size--md);
  --ds-size--sm: var(--ds-size,);
  --ds-size--md: var(--ds-size,);
  --ds-size--lg: var(--ds-size,);
  --ds-size-mode-font-size:
    var(--ds-size--sm, var(--ds-size-mode-font-size--sm))
    var(--ds-size--md, var(--ds-size-mode-font-size--md))
    var(--ds-size--lg, var(--ds-size-mode-font-size--lg));
}

[data-size='sm'] { --ds-size: var(--ds-size--sm); }
[data-size='md'] { --ds-size: var(--ds-size--md); }
[data-size='lg'] { --ds-size: var(--ds-size--lg); }
}

@layer ds.theme.type-scale {
:root, [data-size] {
  --_ds-font-size-factor: calc(var(--ds-size-mode-font-size) / (var(--ds-size-base) / 16));
  --ds-font-size-1: calc(0.75rem * var(--_ds-font-size-factor));
  --ds-font-size-2: calc(0.875rem * var(--_ds-font-size-factor));
  --ds-font-size-3: calc(1rem * var(--_ds-font-size-factor));
  --ds-font-size-4: calc(1.125rem * var(--_ds-font-size-factor));
  --ds-font-size-5: calc(1.3125rem * var(--_ds-font-size-factor));
  --ds-font-size-6: calc(1.5rem * var(--_ds-font-size-factor));
  --ds-font-size-7: calc(1.875rem * var(--_ds-font-size-factor));
  --ds-font-size-8: calc(2.25rem * var(--_ds-font-size-factor));
  --ds-font-size-9: calc(3rem * var(--_ds-font-size-factor));
  --ds-font-size-10: calc(3.75rem * var(--_ds-font-size-factor));
  --ds-heading-2xl-font-size: var(--ds-font-size-10);
  --ds-heading-xl-font-size: var(--ds-font-size-9);
  --ds-heading-lg-font-size: var(--ds-font-size-8);
  --ds-heading-md-font-size: var(--ds-font-size-7);
  --ds-heading-sm-font-size: var(--ds-font-size-6);
  --ds-heading-xs-font-size: var(--ds-font-size-5);
  --ds-heading-2xs-font-size: var(--ds-font-size-4);
  --ds-body-xl-font-size: var(--ds-font-size-6);
  --ds-body-lg-font-size: var(--ds-font-size-5);
  --ds-body-md-font-size: var(--ds-font-size-4);
  --ds-body-sm-font-size: var(--ds-font-size-3);
  --ds-body-xs-font-size: var(--ds-font-size-2);
  --ds-body-short-xl-font-size: var(--ds-font-size-6);
  --ds-body-short-lg-font-size: var(--ds-font-size-5);
  --ds-body-short-md-font-size: var(--ds-font-size-4);
  --ds-body-short-sm-font-size: var(--ds-font-size-3);
  --ds-body-short-xs-font-size: var(--ds-font-size-2);
  --ds-body-long-xl-font-size: var(--ds-font-size-6);
  --ds-body-long-lg-font-size: var(--ds-font-size-5);
  --ds-body-long-md-font-size: var(--ds-font-size-4);
  --ds-body-long-sm-font-size: var(--ds-font-size-3);
  --ds-body-long-xs-font-size: var(--ds-font-size-2);

  @supports (width: round(down, .1em, 1px)) {
    --ds-font-size-1: round(calc(0.75rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-2: round(calc(0.875rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-3: round(calc(1rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-4: round(calc(1.125rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-5: round(calc(1.3125rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-6: round(calc(1.5rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-7: round(calc(1.875rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-8: round(calc(2.25rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-9: round(calc(3rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-10: round(calc(3.75rem * var(--_ds-font-size-factor)), 1px);
  }
}
}
@layer ds.theme.color-scheme.light {
:root, [data-color-scheme="light"] {
  --ds-color-accent-background-default: #ffffff;
  --ds-color-accent-background-tinted: #f4f3f5;
  --ds-color-accent-surface-default: #ffffff;
  --ds-color-accent-surface-tinted: #eae8eb;
  --ds-color-accent-surface-hover: #ddd8de;
  --ds-color-accent-surface-active: #cfc8d0;
  --ds-color-accent-border-subtle: #c2b9c3;
  --ds-color-accent-border-default: #847388;
  --ds-color-accent-border-strong: #6b566f;
  --ds-color-accent-text-subtle: #6b566f;
  --ds-color-accent-text-default: #37253a;
  --ds-color-accent-base-default: #4E3553;
  --ds-color-accent-base-hover: #5f4863;
  --ds-color-accent-base-active: #715c75;
  --ds-color-accent-base-contrast-subtle: #dbd5dc;
  --ds-color-accent-base-contrast-default: #ffffff;
  --ds-color-neutral-background-default: #ffffff;
  --ds-color-neutral-background-tinted: #f4f3f3;
  --ds-color-neutral-surface-default: #ffffff;
  --ds-color-neutral-surface-tinted: #e9e8e8;
  --ds-color-neutral-surface-hover: #dbdad9;
  --ds-color-neutral-surface-active: #cbcac9;
  --ds-color-neutral-border-subtle: #bdbbba;
  --ds-color-neutral-border-default: #7b7876;
  --ds-color-neutral-border-strong: #605d5a;
  --ds-color-neutral-text-subtle: #605d5a;
  --ds-color-neutral-text-default: #2f2a28;
  --ds-color-neutral-base-default: #1F1A17;
  --ds-color-neutral-base-hover: #2f2a27;
  --ds-color-neutral-base-active: #403c3a;
  --ds-color-neutral-base-contrast-subtle: #acaaa9;
  --ds-color-neutral-base-contrast-default: #ffffff;
  --ds-color-sec-background-default: #ffffff;
  --ds-color-sec-background-tinted: #f2f4f3;
  --ds-color-sec-surface-default: #ffffff;
  --ds-color-sec-surface-tinted: #e5e9e7;
  --ds-color-sec-surface-hover: #d5dcd7;
  --ds-color-sec-surface-active: #c2ccc6;
  --ds-color-sec-border-subtle: #b2bfb7;
  --ds-color-sec-border-default: #657f6f;
  --ds-color-sec-border-strong: #466452;
  --ds-color-sec-text-subtle: #466452;
  --ds-color-sec-text-default: #1a3023;
  --ds-color-sec-base-default: #2A4D38;
  --ds-color-sec-base-hover: #41604d;
  --ds-color-sec-base-active: #577262;
  --ds-color-sec-base-contrast-subtle: #dde2df;
  --ds-color-sec-base-contrast-default: #ffffff;
  --ds-color-cardboard-background-default: #ffffff;
  --ds-color-cardboard-background-tinted: #f7f3ef;
  --ds-color-cardboard-surface-default: #ffffff;
  --ds-color-cardboard-surface-tinted: #efe7df;
  --ds-color-cardboard-surface-hover: #e5d8ca;
  --ds-color-cardboard-surface-active: #d9c7b3;
  --ds-color-cardboard-border-subtle: #cfb89e;
  --ds-color-cardboard-border-default: #94734e;
  --ds-color-cardboard-border-strong: #72593c;
  --ds-color-cardboard-text-subtle: #72593c;
  --ds-color-cardboard-text-default: #35291c;
  --ds-color-cardboard-base-default: #ae875c;
  --ds-color-cardboard-base-hover: #bd9e7b;
  --ds-color-cardboard-base-active: #cdb59b;
  --ds-color-cardboard-base-contrast-subtle: #201911;
  --ds-color-cardboard-base-contrast-default: #000000;
  --ds-color-info-background-default: #ffffff;
  --ds-color-info-background-tinted: #f0f4f7;
  --ds-color-info-surface-default: #ffffff;
  --ds-color-info-surface-tinted: #e2e9ef;
  --ds-color-info-surface-hover: #d0dce5;
  --ds-color-info-surface-active: #bcccda;
  --ds-color-info-border-subtle: #a9bed0;
  --ds-color-info-border-default: #537da0;
  --ds-color-info-border-strong: #2e618b;
  --ds-color-info-text-subtle: #2e618b;
  --ds-color-info-text-default: #152d42;
  --ds-color-info-base-default: #2B5F8A;
  --ds-color-info-base-hover: #224b6d;
  --ds-color-info-base-active: #1a3852;
  --ds-color-info-base-contrast-subtle: #fafbfc;
  --ds-color-info-base-contrast-default: #ffffff;
  --ds-color-success-background-default: #ffffff;
  --ds-color-success-background-tinted: #f0f5f1;
  --ds-color-success-surface-default: #ffffff;
  --ds-color-success-surface-tinted: #e2ebe3;
  --ds-color-success-surface-hover: #cfded0;
  --ds-color-success-surface-active: #bad0bc;
  --ds-color-success-border-subtle: #a7c3aa;
  --ds-color-success-border-default: #4d8554;
  --ds-color-success-border-strong: #34683a;
  --ds-color-success-text-subtle: #34683a;
  --ds-color-success-text-default: #18311b;
  --ds-color-success-base-default: #3D7A44;
  --ds-color-success-base-hover: #326538;
  --ds-color-success-base-active: #28502c;
  --ds-color-success-base-contrast-subtle: #f1f5f1;
  --ds-color-success-base-contrast-default: #ffffff;
  --ds-color-warning-background-default: #ffffff;
  --ds-color-warning-background-tinted: #f8f3ea;
  --ds-color-warning-surface-default: #ffffff;
  --ds-color-warning-surface-tinted: #f2e7d6;
  --ds-color-warning-surface-hover: #e9d8bc;
  --ds-color-warning-surface-active: #dfc79f;
  --ds-color-warning-border-subtle: #d7b784;
  --ds-color-warning-border-default: #a36e18;
  --ds-color-warning-border-strong: #7e5513;
  --ds-color-warning-text-subtle: #7e5513;
  --ds-color-warning-text-default: #3b2809;
  --ds-color-warning-base-default: #B47A1B;
  --ds-color-warning-base-hover: #c19244;
  --ds-color-warning-base-active: #cfab6e;
  --ds-color-warning-base-contrast-subtle: #1a1204;
  --ds-color-warning-base-contrast-default: #000000;
  --ds-color-danger-background-default: #ffffff;
  --ds-color-danger-background-tinted: #f8f2f3;
  --ds-color-danger-surface-default: #ffffff;
  --ds-color-danger-surface-tinted: #f1e6e8;
  --ds-color-danger-surface-hover: #e9d5d9;
  --ds-color-danger-surface-active: #dfc3c8;
  --ds-color-danger-border-subtle: #d6b3b9;
  --ds-color-danger-border-default: #ab6471;
  --ds-color-danger-border-strong: #984051;
  --ds-color-danger-text-subtle: #984051;
  --ds-color-danger-text-default: #531520;
  --ds-color-danger-base-default: #882235;
  --ds-color-danger-base-hover: #681a28;
  --ds-color-danger-base-active: #49121c;
  --ds-color-danger-base-contrast-subtle: #efe2e4;
  --ds-color-danger-base-contrast-default: #ffffff;
  --ds-color-focus-inner: #ffffff;
  --ds-color-focus-outer: #2f2a28;
  --ds-link-color-visited: #663299;

  color-scheme: light;
}
 
@media (prefers-color-scheme: light) {
  [data-color-scheme="auto"] {
  --ds-color-accent-background-default: #ffffff;
  --ds-color-accent-background-tinted: #f4f3f5;
  --ds-color-accent-surface-default: #ffffff;
  --ds-color-accent-surface-tinted: #eae8eb;
  --ds-color-accent-surface-hover: #ddd8de;
  --ds-color-accent-surface-active: #cfc8d0;
  --ds-color-accent-border-subtle: #c2b9c3;
  --ds-color-accent-border-default: #847388;
  --ds-color-accent-border-strong: #6b566f;
  --ds-color-accent-text-subtle: #6b566f;
  --ds-color-accent-text-default: #37253a;
  --ds-color-accent-base-default: #4E3553;
  --ds-color-accent-base-hover: #5f4863;
  --ds-color-accent-base-active: #715c75;
  --ds-color-accent-base-contrast-subtle: #dbd5dc;
  --ds-color-accent-base-contrast-default: #ffffff;
  --ds-color-neutral-background-default: #ffffff;
  --ds-color-neutral-background-tinted: #f4f3f3;
  --ds-color-neutral-surface-default: #ffffff;
  --ds-color-neutral-surface-tinted: #e9e8e8;
  --ds-color-neutral-surface-hover: #dbdad9;
  --ds-color-neutral-surface-active: #cbcac9;
  --ds-color-neutral-border-subtle: #bdbbba;
  --ds-color-neutral-border-default: #7b7876;
  --ds-color-neutral-border-strong: #605d5a;
  --ds-color-neutral-text-subtle: #605d5a;
  --ds-color-neutral-text-default: #2f2a28;
  --ds-color-neutral-base-default: #1F1A17;
  --ds-color-neutral-base-hover: #2f2a27;
  --ds-color-neutral-base-active: #403c3a;
  --ds-color-neutral-base-contrast-subtle: #acaaa9;
  --ds-color-neutral-base-contrast-default: #ffffff;
  --ds-color-sec-background-default: #ffffff;
  --ds-color-sec-background-tinted: #f2f4f3;
  --ds-color-sec-surface-default: #ffffff;
  --ds-color-sec-surface-tinted: #e5e9e7;
  --ds-color-sec-surface-hover: #d5dcd7;
  --ds-color-sec-surface-active: #c2ccc6;
  --ds-color-sec-border-subtle: #b2bfb7;
  --ds-color-sec-border-default: #657f6f;
  --ds-color-sec-border-strong: #466452;
  --ds-color-sec-text-subtle: #466452;
  --ds-color-sec-text-default: #1a3023;
  --ds-color-sec-base-default: #2A4D38;
  --ds-color-sec-base-hover: #41604d;
  --ds-color-sec-base-active: #577262;
  --ds-color-sec-base-contrast-subtle: #dde2df;
  --ds-color-sec-base-contrast-default: #ffffff;
  --ds-color-cardboard-background-default: #ffffff;
  --ds-color-cardboard-background-tinted: #f7f3ef;
  --ds-color-cardboard-surface-default: #ffffff;
  --ds-color-cardboard-surface-tinted: #efe7df;
  --ds-color-cardboard-surface-hover: #e5d8ca;
  --ds-color-cardboard-surface-active: #d9c7b3;
  --ds-color-cardboard-border-subtle: #cfb89e;
  --ds-color-cardboard-border-default: #94734e;
  --ds-color-cardboard-border-strong: #72593c;
  --ds-color-cardboard-text-subtle: #72593c;
  --ds-color-cardboard-text-default: #35291c;
  --ds-color-cardboard-base-default: #ae875c;
  --ds-color-cardboard-base-hover: #bd9e7b;
  --ds-color-cardboard-base-active: #cdb59b;
  --ds-color-cardboard-base-contrast-subtle: #201911;
  --ds-color-cardboard-base-contrast-default: #000000;
  --ds-color-info-background-default: #ffffff;
  --ds-color-info-background-tinted: #f0f4f7;
  --ds-color-info-surface-default: #ffffff;
  --ds-color-info-surface-tinted: #e2e9ef;
  --ds-color-info-surface-hover: #d0dce5;
  --ds-color-info-surface-active: #bcccda;
  --ds-color-info-border-subtle: #a9bed0;
  --ds-color-info-border-default: #537da0;
  --ds-color-info-border-strong: #2e618b;
  --ds-color-info-text-subtle: #2e618b;
  --ds-color-info-text-default: #152d42;
  --ds-color-info-base-default: #2B5F8A;
  --ds-color-info-base-hover: #224b6d;
  --ds-color-info-base-active: #1a3852;
  --ds-color-info-base-contrast-subtle: #fafbfc;
  --ds-color-info-base-contrast-default: #ffffff;
  --ds-color-success-background-default: #ffffff;
  --ds-color-success-background-tinted: #f0f5f1;
  --ds-color-success-surface-default: #ffffff;
  --ds-color-success-surface-tinted: #e2ebe3;
  --ds-color-success-surface-hover: #cfded0;
  --ds-color-success-surface-active: #bad0bc;
  --ds-color-success-border-subtle: #a7c3aa;
  --ds-color-success-border-default: #4d8554;
  --ds-color-success-border-strong: #34683a;
  --ds-color-success-text-subtle: #34683a;
  --ds-color-success-text-default: #18311b;
  --ds-color-success-base-default: #3D7A44;
  --ds-color-success-base-hover: #326538;
  --ds-color-success-base-active: #28502c;
  --ds-color-success-base-contrast-subtle: #f1f5f1;
  --ds-color-success-base-contrast-default: #ffffff;
  --ds-color-warning-background-default: #ffffff;
  --ds-color-warning-background-tinted: #f8f3ea;
  --ds-color-warning-surface-default: #ffffff;
  --ds-color-warning-surface-tinted: #f2e7d6;
  --ds-color-warning-surface-hover: #e9d8bc;
  --ds-color-warning-surface-active: #dfc79f;
  --ds-color-warning-border-subtle: #d7b784;
  --ds-color-warning-border-default: #a36e18;
  --ds-color-warning-border-strong: #7e5513;
  --ds-color-warning-text-subtle: #7e5513;
  --ds-color-warning-text-default: #3b2809;
  --ds-color-warning-base-default: #B47A1B;
  --ds-color-warning-base-hover: #c19244;
  --ds-color-warning-base-active: #cfab6e;
  --ds-color-warning-base-contrast-subtle: #1a1204;
  --ds-color-warning-base-contrast-default: #000000;
  --ds-color-danger-background-default: #ffffff;
  --ds-color-danger-background-tinted: #f8f2f3;
  --ds-color-danger-surface-default: #ffffff;
  --ds-color-danger-surface-tinted: #f1e6e8;
  --ds-color-danger-surface-hover: #e9d5d9;
  --ds-color-danger-surface-active: #dfc3c8;
  --ds-color-danger-border-subtle: #d6b3b9;
  --ds-color-danger-border-default: #ab6471;
  --ds-color-danger-border-strong: #984051;
  --ds-color-danger-text-subtle: #984051;
  --ds-color-danger-text-default: #531520;
  --ds-color-danger-base-default: #882235;
  --ds-color-danger-base-hover: #681a28;
  --ds-color-danger-base-active: #49121c;
  --ds-color-danger-base-contrast-subtle: #efe2e4;
  --ds-color-danger-base-contrast-default: #ffffff;
  --ds-color-focus-inner: #ffffff;
  --ds-color-focus-outer: #2f2a28;
  --ds-link-color-visited: #663299;

  color-scheme: light;
}

}

}

@layer ds.theme.typography.secondary {
[data-typography="secondary"] {
  --ds-line-height-sm: 1.3;
  --ds-line-height-md: 1.5;
  --ds-line-height-lg: 1.7;
  --ds-letter-spacing-1: -0.01em;
  --ds-letter-spacing-2: -0.005em;
  --ds-letter-spacing-3: -0.0025em;
  --ds-letter-spacing-4: -0.0015em;
  --ds-letter-spacing-5: 0em;
  --ds-letter-spacing-6: 0.0015em;
  --ds-letter-spacing-7: 0.0025em;
  --ds-letter-spacing-8: 0.005em;
  --ds-letter-spacing-9: 0.015em;
  --ds-font-family: Inter;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-regular: 400;
  --ds-heading-2xl-font-weight: 500;
  --ds-heading-2xl-line-height: 1.3;
  --ds-heading-2xl-letter-spacing: -0.01em;
  --ds-heading-xl-font-weight: 500;
  --ds-heading-xl-line-height: 1.3;
  --ds-heading-xl-letter-spacing: -0.01em;
  --ds-heading-lg-font-weight: 500;
  --ds-heading-lg-line-height: 1.3;
  --ds-heading-lg-letter-spacing: -0.005em;
  --ds-heading-md-font-weight: 500;
  --ds-heading-md-line-height: 1.3;
  --ds-heading-md-letter-spacing: -0.0025em;
  --ds-heading-sm-font-weight: 500;
  --ds-heading-sm-line-height: 1.3;
  --ds-heading-sm-letter-spacing: 0em;
  --ds-heading-xs-font-weight: 500;
  --ds-heading-xs-line-height: 1.3;
  --ds-heading-xs-letter-spacing: 0.0015em;
  --ds-heading-2xs-font-weight: 500;
  --ds-heading-2xs-line-height: 1.3;
  --ds-heading-2xs-letter-spacing: 0.0015em;
  --ds-body-xl-font-weight: 400;
  --ds-body-xl-line-height: 1.5;
  --ds-body-xl-letter-spacing: 0.005em;
  --ds-body-lg-font-weight: 400;
  --ds-body-lg-line-height: 1.5;
  --ds-body-lg-letter-spacing: 0.005em;
  --ds-body-md-font-weight: 400;
  --ds-body-md-line-height: 1.5;
  --ds-body-md-letter-spacing: 0.005em;
  --ds-body-sm-font-weight: 400;
  --ds-body-sm-line-height: 1.5;
  --ds-body-sm-letter-spacing: 0.0025em;
  --ds-body-xs-font-weight: 400;
  --ds-body-xs-line-height: 1.5;
  --ds-body-xs-letter-spacing: 0.0015em;
  --ds-body-short-xl-font-weight: 400;
  --ds-body-short-xl-line-height: 1.3;
  --ds-body-short-xl-letter-spacing: 0.005em;
  --ds-body-short-lg-font-weight: 400;
  --ds-body-short-lg-line-height: 1.3;
  --ds-body-short-lg-letter-spacing: 0.005em;
  --ds-body-short-md-font-weight: 400;
  --ds-body-short-md-line-height: 1.3;
  --ds-body-short-md-letter-spacing: 0.005em;
  --ds-body-short-sm-font-weight: 400;
  --ds-body-short-sm-line-height: 1.3;
  --ds-body-short-sm-letter-spacing: 0.0025em;
  --ds-body-short-xs-font-weight: 400;
  --ds-body-short-xs-line-height: 1.3;
  --ds-body-short-xs-letter-spacing: 0.0015em;
  --ds-body-long-xl-font-weight: 400;
  --ds-body-long-xl-line-height: 1.7;
  --ds-body-long-xl-letter-spacing: 0.005em;
  --ds-body-long-lg-font-weight: 400;
  --ds-body-long-lg-line-height: 1.7;
  --ds-body-long-lg-letter-spacing: 0.005em;
  --ds-body-long-md-font-weight: 400;
  --ds-body-long-md-line-height: 1.7;
  --ds-body-long-md-letter-spacing: 0.005em;
  --ds-body-long-sm-font-weight: 400;
  --ds-body-long-sm-line-height: 1.7;
  --ds-body-long-sm-letter-spacing: 0.0025em;
  --ds-body-long-xs-font-weight: 400;
  --ds-body-long-xs-line-height: 1.7;
  --ds-body-long-xs-letter-spacing: 0.0015em;
}
}
@layer ds.theme.size {
:root, [data-size] {
  --ds-size-base: 18;
  --ds-size-step: 4;

  --ds-size-0: calc(var(--ds-size-unit) * 0);
  --ds-size-1: calc(var(--ds-size-unit) * 1);
  --ds-size-2: calc(var(--ds-size-unit) * 2);
  --ds-size-3: calc(var(--ds-size-unit) * 3);
  --ds-size-4: calc(var(--ds-size-unit) * 4);
  --ds-size-5: calc(var(--ds-size-unit) * 5);
  --ds-size-6: calc(var(--ds-size-unit) * 6);
  --ds-size-7: calc(var(--ds-size-unit) * 7);
  --ds-size-8: calc(var(--ds-size-unit) * 8);
  --ds-size-9: calc(var(--ds-size-unit) * 9);
  --ds-size-10: calc(var(--ds-size-unit) * 10);
  --ds-size-11: calc(var(--ds-size-unit) * 11);
  --ds-size-12: calc(var(--ds-size-unit) * 12);
  --ds-size-13: calc(var(--ds-size-unit) * 13);
  --ds-size-14: calc(var(--ds-size-unit) * 14);
  --ds-size-15: calc(var(--ds-size-unit) * 15);
  --ds-size-18: calc(var(--ds-size-unit) * 18);
  --ds-size-22: calc(var(--ds-size-unit) * 22);
  --ds-size-26: calc(var(--ds-size-unit) * 26);
  --ds-size-30: calc(var(--ds-size-unit) * 30);
  --ds-size-unit: calc(1rem * var(--ds-size-step) / var(--ds-size-base) * var(--ds-size-mode-font-size));

  @supports (width: round(down, .1em, 1px)) {
    --ds-size-0: round(down, calc(var(--ds-size-unit) * 0), 1px);
    --ds-size-1: round(down, calc(var(--ds-size-unit) * 1), 1px);
    --ds-size-2: round(down, calc(var(--ds-size-unit) * 2), 1px);
    --ds-size-3: round(down, calc(var(--ds-size-unit) * 3), 1px);
    --ds-size-4: round(down, calc(var(--ds-size-unit) * 4), 1px);
    --ds-size-5: round(down, calc(var(--ds-size-unit) * 5), 1px);
    --ds-size-6: round(down, calc(var(--ds-size-unit) * 6), 1px);
    --ds-size-7: round(down, calc(var(--ds-size-unit) * 7), 1px);
    --ds-size-8: round(down, calc(var(--ds-size-unit) * 8), 1px);
    --ds-size-9: round(down, calc(var(--ds-size-unit) * 9), 1px);
    --ds-size-10: round(down, calc(var(--ds-size-unit) * 10), 1px);
    --ds-size-11: round(down, calc(var(--ds-size-unit) * 11), 1px);
    --ds-size-12: round(down, calc(var(--ds-size-unit) * 12), 1px);
    --ds-size-13: round(down, calc(var(--ds-size-unit) * 13), 1px);
    --ds-size-14: round(down, calc(var(--ds-size-unit) * 14), 1px);
    --ds-size-15: round(down, calc(var(--ds-size-unit) * 15), 1px);
    --ds-size-18: round(down, calc(var(--ds-size-unit) * 18), 1px);
    --ds-size-22: round(down, calc(var(--ds-size-unit) * 22), 1px);
    --ds-size-26: round(down, calc(var(--ds-size-unit) * 26), 1px);
    --ds-size-30: round(down, calc(var(--ds-size-unit) * 30), 1px);
  }
}

}

@layer ds.theme.semantic {
:root {
  --ds-border-radius-base: 0.25rem;
  --ds-border-radius-scale: 0.25rem;
  --ds-border-radius-sm: min(var(--ds-border-radius-base)*0.5,var(--ds-border-radius-scale));
  --ds-border-radius-md: min(var(--ds-border-radius-base),var(--ds-border-radius-scale)*2);
  --ds-border-radius-lg: min(var(--ds-border-radius-base)*2,var(--ds-border-radius-scale)*5);
  --ds-border-radius-xl: min(var(--ds-border-radius-base)*3,var(--ds-border-radius-scale)*7);
  --ds-border-radius-default: var(--ds-border-radius-base);
  --ds-border-radius-full: 624.9375rem;
  --ds-border-width-default: 1px;
  --ds-border-width-focus: 3px;
  --ds-shadow-xs: 0 0 1px 0 rgba(0,0,0,0.16), 0 1px 2px 0 rgba(0,0,0,0.12);
  --ds-shadow-sm: 0 0 1px 0 rgba(0,0,0,0.15), 0 1px 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.1);
  --ds-shadow-md: 0 0 1px 0 rgba(0,0,0,0.14), 0 2px 4px 0 rgba(0,0,0,0.12), 0 4px 8px 0 rgba(0,0,0,0.12);
  --ds-shadow-lg: 0 0 1px 0 rgba(0,0,0,0.13), 0 3px 5px 0 rgba(0,0,0,0.13), 0 6px 12px 0 rgba(0,0,0,0.14);
  --ds-shadow-xl: 0 0 1px 0 rgba(0,0,0,0.12), 0 4px 8px 0 rgba(0,0,0,0.16), 0 12px 24px 0 rgba(0,0,0,0.16);
  --ds-opacity-disabled: 30%;
}

}

@layer ds.theme.color-scheme.dark {
[data-color-scheme="dark"] {
  --ds-color-accent-background-default: #1c161d;
  --ds-color-accent-background-tinted: #251d27;
  --ds-color-accent-surface-default: #2f2431;
  --ds-color-accent-surface-tinted: #362a38;
  --ds-color-accent-surface-hover: #3f3142;
  --ds-color-accent-surface-active: #4e3d51;
  --ds-color-accent-border-subtle: #5a4b5d;
  --ds-color-accent-border-default: #897e8b;
  --ds-color-accent-border-strong: #ada5ae;
  --ds-color-accent-text-subtle: #ada5ae;
  --ds-color-accent-text-default: #edecee;
  --ds-color-accent-base-default: #b2a8b5;
  --ds-color-accent-base-hover: #9f92a2;
  --ds-color-accent-base-active: #8c7c8f;
  --ds-color-accent-base-contrast-subtle: #1d1b1e;
  --ds-color-accent-base-contrast-default: #000000;
  --ds-color-neutral-background-default: #1b1715;
  --ds-color-neutral-background-tinted: #231f1d;
  --ds-color-neutral-surface-default: #2b2725;
  --ds-color-neutral-surface-tinted: #312d2b;
  --ds-color-neutral-surface-hover: #383533;
  --ds-color-neutral-surface-active: #464241;
  --ds-color-neutral-border-subtle: #524f4e;
  --ds-color-neutral-border-default: #838180;
  --ds-color-neutral-border-strong: #a9a7a7;
  --ds-color-neutral-text-subtle: #a9a7a7;
  --ds-color-neutral-text-default: #ececec;
  --ds-color-neutral-base-default: #adabaa;
  --ds-color-neutral-base-hover: #989694;
  --ds-color-neutral-base-active: #83817f;
  --ds-color-neutral-base-contrast-subtle: #1c1c1c;
  --ds-color-neutral-base-contrast-default: #000000;
  --ds-color-sec-background-default: #111a15;
  --ds-color-sec-background-tinted: #17221b;
  --ds-color-sec-surface-default: #1d2b22;
  --ds-color-sec-surface-tinted: #223127;
  --ds-color-sec-surface-hover: #27392e;
  --ds-color-sec-surface-active: #31483a;
  --ds-color-sec-border-subtle: #3e5547;
  --ds-color-sec-border-default: #75857b;
  --ds-color-sec-border-strong: #9faba3;
  --ds-color-sec-text-subtle: #9faba3;
  --ds-color-sec-text-default: #eaedeb;
  --ds-color-sec-base-default: #9fafa5;
  --ds-color-sec-base-hover: #879b8f;
  --ds-color-sec-base-active: #6f8778;
  --ds-color-sec-base-contrast-subtle: #191c1a;
  --ds-color-sec-base-contrast-default: #000000;
  --ds-color-cardboard-background-default: #151818;
  --ds-color-cardboard-background-tinted: #1c2020;
  --ds-color-cardboard-surface-default: #252929;
  --ds-color-cardboard-surface-tinted: #2b2e2e;
  --ds-color-cardboard-surface-hover: #323636;
  --ds-color-cardboard-surface-active: #404444;
  --ds-color-cardboard-border-subtle: #4d5151;
  --ds-color-cardboard-border-default: #7f8282;
  --ds-color-cardboard-border-strong: #a6a8a8;
  --ds-color-cardboard-text-subtle: #a6a8a8;
  --ds-color-cardboard-text-default: #ececec;
  --ds-color-cardboard-base-default: #a9acab;
  --ds-color-cardboard-base-hover: #939796;
  --ds-color-cardboard-base-active: #7e8281;
  --ds-color-cardboard-base-contrast-subtle: #1c1c1c;
  --ds-color-cardboard-base-contrast-default: #000000;
  --ds-color-info-background-default: #101921;
  --ds-color-info-background-tinted: #15212b;
  --ds-color-info-surface-default: #1b2936;
  --ds-color-info-surface-tinted: #1f2f3e;
  --ds-color-info-surface-hover: #243749;
  --ds-color-info-surface-active: #2d455b;
  --ds-color-info-border-subtle: #36536d;
  --ds-color-info-border-default: #6b849b;
  --ds-color-info-border-strong: #99aaba;
  --ds-color-info-text-subtle: #99aaba;
  --ds-color-info-text-default: #e9edf0;
  --ds-color-info-base-default: #7698b4;
  --ds-color-info-base-hover: #92acc3;
  --ds-color-info-base-active: #aec2d2;
  --ds-color-info-base-contrast-subtle: #040506;
  --ds-color-info-base-contrast-default: #000000;
  --ds-color-success-background-default: #111a12;
  --ds-color-success-background-tinted: #162218;
  --ds-color-success-surface-default: #1c2b1e;
  --ds-color-success-surface-tinted: #213222;
  --ds-color-success-surface-hover: #263a28;
  --ds-color-success-surface-active: #304932;
  --ds-color-success-border-subtle: #39573c;
  --ds-color-success-border-default: #678a6a;
  --ds-color-success-border-strong: #96ae98;
  --ds-color-success-text-subtle: #96ae98;
  --ds-color-success-text-default: #e8eee9;
  --ds-color-success-base-default: #598d5f;
  --ds-color-success-base-hover: #75a07a;
  --ds-color-success-base-active: #91b495;
  --ds-color-success-base-contrast-subtle: #0a0f0a;
  --ds-color-success-base-contrast-default: #000000;
  --ds-color-warning-background-default: #1e170d;
  --ds-color-warning-background-tinted: #271e11;
  --ds-color-warning-surface-default: #322616;
  --ds-color-warning-surface-tinted: #392b19;
  --ds-color-warning-surface-hover: #43331d;
  --ds-color-warning-surface-active: #533f24;
  --ds-color-warning-border-subtle: #644c2c;
  --ds-color-warning-border-default: #a17a46;
  --ds-color-warning-border-strong: #c0a37d;
  --ds-color-warning-text-subtle: #c0a37d;
  --ds-color-warning-text-default: #f2ebe3;
  --ds-color-warning-base-default: #8e6015;
  --ds-color-warning-base-hover: #734e11;
  --ds-color-warning-base-active: #5b3d0e;
  --ds-color-warning-base-contrast-subtle: #f3efe7;
  --ds-color-warning-base-contrast-default: #ffffff;
  --ds-color-danger-background-default: #271114;
  --ds-color-danger-background-tinted: #34171a;
  --ds-color-danger-surface-default: #411d21;
  --ds-color-danger-surface-tinted: #4b2126;
  --ds-color-danger-surface-hover: #57262c;
  --ds-color-danger-surface-active: #6d3037;
  --ds-color-danger-border-subtle: #7d3c43;
  --ds-color-danger-border-default: #a4757b;
  --ds-color-danger-border-strong: #c0a0a4;
  --ds-color-danger-text-subtle: #c0a0a4;
  --ds-color-danger-text-default: #f1ebeb;
  --ds-color-danger-base-default: #ca9ca5;
  --ds-color-danger-base-hover: #bd848e;
  --ds-color-danger-base-active: #b06c78;
  --ds-color-danger-base-contrast-subtle: #1e1719;
  --ds-color-danger-base-contrast-default: #000000;
  --ds-color-focus-inner: #1b1715;
  --ds-color-focus-outer: #ececec;
  --ds-link-color-visited: #b49acd;

  color-scheme: dark;
}
 
@media (prefers-color-scheme: dark) {
  [data-color-scheme="auto"] {
  --ds-color-accent-background-default: #1c161d;
  --ds-color-accent-background-tinted: #251d27;
  --ds-color-accent-surface-default: #2f2431;
  --ds-color-accent-surface-tinted: #362a38;
  --ds-color-accent-surface-hover: #3f3142;
  --ds-color-accent-surface-active: #4e3d51;
  --ds-color-accent-border-subtle: #5a4b5d;
  --ds-color-accent-border-default: #897e8b;
  --ds-color-accent-border-strong: #ada5ae;
  --ds-color-accent-text-subtle: #ada5ae;
  --ds-color-accent-text-default: #edecee;
  --ds-color-accent-base-default: #b2a8b5;
  --ds-color-accent-base-hover: #9f92a2;
  --ds-color-accent-base-active: #8c7c8f;
  --ds-color-accent-base-contrast-subtle: #1d1b1e;
  --ds-color-accent-base-contrast-default: #000000;
  --ds-color-neutral-background-default: #1b1715;
  --ds-color-neutral-background-tinted: #231f1d;
  --ds-color-neutral-surface-default: #2b2725;
  --ds-color-neutral-surface-tinted: #312d2b;
  --ds-color-neutral-surface-hover: #383533;
  --ds-color-neutral-surface-active: #464241;
  --ds-color-neutral-border-subtle: #524f4e;
  --ds-color-neutral-border-default: #838180;
  --ds-color-neutral-border-strong: #a9a7a7;
  --ds-color-neutral-text-subtle: #a9a7a7;
  --ds-color-neutral-text-default: #ececec;
  --ds-color-neutral-base-default: #adabaa;
  --ds-color-neutral-base-hover: #989694;
  --ds-color-neutral-base-active: #83817f;
  --ds-color-neutral-base-contrast-subtle: #1c1c1c;
  --ds-color-neutral-base-contrast-default: #000000;
  --ds-color-sec-background-default: #111a15;
  --ds-color-sec-background-tinted: #17221b;
  --ds-color-sec-surface-default: #1d2b22;
  --ds-color-sec-surface-tinted: #223127;
  --ds-color-sec-surface-hover: #27392e;
  --ds-color-sec-surface-active: #31483a;
  --ds-color-sec-border-subtle: #3e5547;
  --ds-color-sec-border-default: #75857b;
  --ds-color-sec-border-strong: #9faba3;
  --ds-color-sec-text-subtle: #9faba3;
  --ds-color-sec-text-default: #eaedeb;
  --ds-color-sec-base-default: #9fafa5;
  --ds-color-sec-base-hover: #879b8f;
  --ds-color-sec-base-active: #6f8778;
  --ds-color-sec-base-contrast-subtle: #191c1a;
  --ds-color-sec-base-contrast-default: #000000;
  --ds-color-cardboard-background-default: #151818;
  --ds-color-cardboard-background-tinted: #1c2020;
  --ds-color-cardboard-surface-default: #252929;
  --ds-color-cardboard-surface-tinted: #2b2e2e;
  --ds-color-cardboard-surface-hover: #323636;
  --ds-color-cardboard-surface-active: #404444;
  --ds-color-cardboard-border-subtle: #4d5151;
  --ds-color-cardboard-border-default: #7f8282;
  --ds-color-cardboard-border-strong: #a6a8a8;
  --ds-color-cardboard-text-subtle: #a6a8a8;
  --ds-color-cardboard-text-default: #ececec;
  --ds-color-cardboard-base-default: #a9acab;
  --ds-color-cardboard-base-hover: #939796;
  --ds-color-cardboard-base-active: #7e8281;
  --ds-color-cardboard-base-contrast-subtle: #1c1c1c;
  --ds-color-cardboard-base-contrast-default: #000000;
  --ds-color-info-background-default: #101921;
  --ds-color-info-background-tinted: #15212b;
  --ds-color-info-surface-default: #1b2936;
  --ds-color-info-surface-tinted: #1f2f3e;
  --ds-color-info-surface-hover: #243749;
  --ds-color-info-surface-active: #2d455b;
  --ds-color-info-border-subtle: #36536d;
  --ds-color-info-border-default: #6b849b;
  --ds-color-info-border-strong: #99aaba;
  --ds-color-info-text-subtle: #99aaba;
  --ds-color-info-text-default: #e9edf0;
  --ds-color-info-base-default: #7698b4;
  --ds-color-info-base-hover: #92acc3;
  --ds-color-info-base-active: #aec2d2;
  --ds-color-info-base-contrast-subtle: #040506;
  --ds-color-info-base-contrast-default: #000000;
  --ds-color-success-background-default: #111a12;
  --ds-color-success-background-tinted: #162218;
  --ds-color-success-surface-default: #1c2b1e;
  --ds-color-success-surface-tinted: #213222;
  --ds-color-success-surface-hover: #263a28;
  --ds-color-success-surface-active: #304932;
  --ds-color-success-border-subtle: #39573c;
  --ds-color-success-border-default: #678a6a;
  --ds-color-success-border-strong: #96ae98;
  --ds-color-success-text-subtle: #96ae98;
  --ds-color-success-text-default: #e8eee9;
  --ds-color-success-base-default: #598d5f;
  --ds-color-success-base-hover: #75a07a;
  --ds-color-success-base-active: #91b495;
  --ds-color-success-base-contrast-subtle: #0a0f0a;
  --ds-color-success-base-contrast-default: #000000;
  --ds-color-warning-background-default: #1e170d;
  --ds-color-warning-background-tinted: #271e11;
  --ds-color-warning-surface-default: #322616;
  --ds-color-warning-surface-tinted: #392b19;
  --ds-color-warning-surface-hover: #43331d;
  --ds-color-warning-surface-active: #533f24;
  --ds-color-warning-border-subtle: #644c2c;
  --ds-color-warning-border-default: #a17a46;
  --ds-color-warning-border-strong: #c0a37d;
  --ds-color-warning-text-subtle: #c0a37d;
  --ds-color-warning-text-default: #f2ebe3;
  --ds-color-warning-base-default: #8e6015;
  --ds-color-warning-base-hover: #734e11;
  --ds-color-warning-base-active: #5b3d0e;
  --ds-color-warning-base-contrast-subtle: #f3efe7;
  --ds-color-warning-base-contrast-default: #ffffff;
  --ds-color-danger-background-default: #271114;
  --ds-color-danger-background-tinted: #34171a;
  --ds-color-danger-surface-default: #411d21;
  --ds-color-danger-surface-tinted: #4b2126;
  --ds-color-danger-surface-hover: #57262c;
  --ds-color-danger-surface-active: #6d3037;
  --ds-color-danger-border-subtle: #7d3c43;
  --ds-color-danger-border-default: #a4757b;
  --ds-color-danger-border-strong: #c0a0a4;
  --ds-color-danger-text-subtle: #c0a0a4;
  --ds-color-danger-text-default: #f1ebeb;
  --ds-color-danger-base-default: #ca9ca5;
  --ds-color-danger-base-hover: #bd848e;
  --ds-color-danger-base-active: #b06c78;
  --ds-color-danger-base-contrast-subtle: #1e1719;
  --ds-color-danger-base-contrast-default: #000000;
  --ds-color-focus-inner: #1b1715;
  --ds-color-focus-outer: #ececec;
  --ds-link-color-visited: #b49acd;

  color-scheme: dark;
}

}

}

@layer ds.theme.typography.primary {
:root, [data-typography="primary"] {
  --ds-line-height-sm: 1.3;
  --ds-line-height-md: 1.5;
  --ds-line-height-lg: 1.7;
  --ds-letter-spacing-1: -0.01em;
  --ds-letter-spacing-2: -0.005em;
  --ds-letter-spacing-3: -0.0025em;
  --ds-letter-spacing-4: -0.0015em;
  --ds-letter-spacing-5: 0em;
  --ds-letter-spacing-6: 0.0015em;
  --ds-letter-spacing-7: 0.0025em;
  --ds-letter-spacing-8: 0.005em;
  --ds-letter-spacing-9: 0.015em;
  --ds-font-family: Inter;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-regular: 400;
  --ds-heading-2xl-font-weight: 500;
  --ds-heading-2xl-line-height: 1.3;
  --ds-heading-2xl-letter-spacing: -0.01em;
  --ds-heading-xl-font-weight: 500;
  --ds-heading-xl-line-height: 1.3;
  --ds-heading-xl-letter-spacing: -0.01em;
  --ds-heading-lg-font-weight: 500;
  --ds-heading-lg-line-height: 1.3;
  --ds-heading-lg-letter-spacing: -0.005em;
  --ds-heading-md-font-weight: 500;
  --ds-heading-md-line-height: 1.3;
  --ds-heading-md-letter-spacing: -0.0025em;
  --ds-heading-sm-font-weight: 500;
  --ds-heading-sm-line-height: 1.3;
  --ds-heading-sm-letter-spacing: 0em;
  --ds-heading-xs-font-weight: 500;
  --ds-heading-xs-line-height: 1.3;
  --ds-heading-xs-letter-spacing: 0.0015em;
  --ds-heading-2xs-font-weight: 500;
  --ds-heading-2xs-line-height: 1.3;
  --ds-heading-2xs-letter-spacing: 0.0015em;
  --ds-body-xl-font-weight: 400;
  --ds-body-xl-line-height: 1.5;
  --ds-body-xl-letter-spacing: 0.005em;
  --ds-body-lg-font-weight: 400;
  --ds-body-lg-line-height: 1.5;
  --ds-body-lg-letter-spacing: 0.005em;
  --ds-body-md-font-weight: 400;
  --ds-body-md-line-height: 1.5;
  --ds-body-md-letter-spacing: 0.005em;
  --ds-body-sm-font-weight: 400;
  --ds-body-sm-line-height: 1.5;
  --ds-body-sm-letter-spacing: 0.0025em;
  --ds-body-xs-font-weight: 400;
  --ds-body-xs-line-height: 1.5;
  --ds-body-xs-letter-spacing: 0.0015em;
  --ds-body-short-xl-font-weight: 400;
  --ds-body-short-xl-line-height: 1.3;
  --ds-body-short-xl-letter-spacing: 0.005em;
  --ds-body-short-lg-font-weight: 400;
  --ds-body-short-lg-line-height: 1.3;
  --ds-body-short-lg-letter-spacing: 0.005em;
  --ds-body-short-md-font-weight: 400;
  --ds-body-short-md-line-height: 1.3;
  --ds-body-short-md-letter-spacing: 0.005em;
  --ds-body-short-sm-font-weight: 400;
  --ds-body-short-sm-line-height: 1.3;
  --ds-body-short-sm-letter-spacing: 0.0025em;
  --ds-body-short-xs-font-weight: 400;
  --ds-body-short-xs-line-height: 1.3;
  --ds-body-short-xs-letter-spacing: 0.0015em;
  --ds-body-long-xl-font-weight: 400;
  --ds-body-long-xl-line-height: 1.7;
  --ds-body-long-xl-letter-spacing: 0.005em;
  --ds-body-long-lg-font-weight: 400;
  --ds-body-long-lg-line-height: 1.7;
  --ds-body-long-lg-letter-spacing: 0.005em;
  --ds-body-long-md-font-weight: 400;
  --ds-body-long-md-line-height: 1.7;
  --ds-body-long-md-letter-spacing: 0.005em;
  --ds-body-long-sm-font-weight: 400;
  --ds-body-long-sm-line-height: 1.7;
  --ds-body-long-sm-letter-spacing: 0.0025em;
  --ds-body-long-xs-font-weight: 400;
  --ds-body-long-xs-line-height: 1.7;
  --ds-body-long-xs-letter-spacing: 0.0015em;
}
}
@layer ds.theme.color {
:root, [data-color-scheme], [data-color="accent"] {
  --ds-color-background-default: var(--ds-color-accent-background-default);
  --ds-color-background-tinted: var(--ds-color-accent-background-tinted);
  --ds-color-surface-default: var(--ds-color-accent-surface-default);
  --ds-color-surface-tinted: var(--ds-color-accent-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-accent-surface-hover);
  --ds-color-surface-active: var(--ds-color-accent-surface-active);
  --ds-color-border-subtle: var(--ds-color-accent-border-subtle);
  --ds-color-border-default: var(--ds-color-accent-border-default);
  --ds-color-border-strong: var(--ds-color-accent-border-strong);
  --ds-color-text-subtle: var(--ds-color-accent-text-subtle);
  --ds-color-text-default: var(--ds-color-accent-text-default);
  --ds-color-base-default: var(--ds-color-accent-base-default);
  --ds-color-base-hover: var(--ds-color-accent-base-hover);
  --ds-color-base-active: var(--ds-color-accent-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-accent-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-accent-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="cardboard"], [data-color-scheme][data-color="cardboard"] {
  --ds-color-background-default: var(--ds-color-cardboard-background-default);
  --ds-color-background-tinted: var(--ds-color-cardboard-background-tinted);
  --ds-color-surface-default: var(--ds-color-cardboard-surface-default);
  --ds-color-surface-tinted: var(--ds-color-cardboard-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-cardboard-surface-hover);
  --ds-color-surface-active: var(--ds-color-cardboard-surface-active);
  --ds-color-border-subtle: var(--ds-color-cardboard-border-subtle);
  --ds-color-border-default: var(--ds-color-cardboard-border-default);
  --ds-color-border-strong: var(--ds-color-cardboard-border-strong);
  --ds-color-text-subtle: var(--ds-color-cardboard-text-subtle);
  --ds-color-text-default: var(--ds-color-cardboard-text-default);
  --ds-color-base-default: var(--ds-color-cardboard-base-default);
  --ds-color-base-hover: var(--ds-color-cardboard-base-hover);
  --ds-color-base-active: var(--ds-color-cardboard-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-cardboard-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-cardboard-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="danger"], [data-color-scheme][data-color="danger"] {
  --ds-color-background-default: var(--ds-color-danger-background-default);
  --ds-color-background-tinted: var(--ds-color-danger-background-tinted);
  --ds-color-surface-default: var(--ds-color-danger-surface-default);
  --ds-color-surface-tinted: var(--ds-color-danger-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-danger-surface-hover);
  --ds-color-surface-active: var(--ds-color-danger-surface-active);
  --ds-color-border-subtle: var(--ds-color-danger-border-subtle);
  --ds-color-border-default: var(--ds-color-danger-border-default);
  --ds-color-border-strong: var(--ds-color-danger-border-strong);
  --ds-color-text-subtle: var(--ds-color-danger-text-subtle);
  --ds-color-text-default: var(--ds-color-danger-text-default);
  --ds-color-base-default: var(--ds-color-danger-base-default);
  --ds-color-base-hover: var(--ds-color-danger-base-hover);
  --ds-color-base-active: var(--ds-color-danger-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-danger-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-danger-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="info"], [data-color-scheme][data-color="info"] {
  --ds-color-background-default: var(--ds-color-info-background-default);
  --ds-color-background-tinted: var(--ds-color-info-background-tinted);
  --ds-color-surface-default: var(--ds-color-info-surface-default);
  --ds-color-surface-tinted: var(--ds-color-info-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-info-surface-hover);
  --ds-color-surface-active: var(--ds-color-info-surface-active);
  --ds-color-border-subtle: var(--ds-color-info-border-subtle);
  --ds-color-border-default: var(--ds-color-info-border-default);
  --ds-color-border-strong: var(--ds-color-info-border-strong);
  --ds-color-text-subtle: var(--ds-color-info-text-subtle);
  --ds-color-text-default: var(--ds-color-info-text-default);
  --ds-color-base-default: var(--ds-color-info-base-default);
  --ds-color-base-hover: var(--ds-color-info-base-hover);
  --ds-color-base-active: var(--ds-color-info-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-info-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-info-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="neutral"], [data-color-scheme][data-color="neutral"] {
  --ds-color-background-default: var(--ds-color-neutral-background-default);
  --ds-color-background-tinted: var(--ds-color-neutral-background-tinted);
  --ds-color-surface-default: var(--ds-color-neutral-surface-default);
  --ds-color-surface-tinted: var(--ds-color-neutral-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-neutral-surface-hover);
  --ds-color-surface-active: var(--ds-color-neutral-surface-active);
  --ds-color-border-subtle: var(--ds-color-neutral-border-subtle);
  --ds-color-border-default: var(--ds-color-neutral-border-default);
  --ds-color-border-strong: var(--ds-color-neutral-border-strong);
  --ds-color-text-subtle: var(--ds-color-neutral-text-subtle);
  --ds-color-text-default: var(--ds-color-neutral-text-default);
  --ds-color-base-default: var(--ds-color-neutral-base-default);
  --ds-color-base-hover: var(--ds-color-neutral-base-hover);
  --ds-color-base-active: var(--ds-color-neutral-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-neutral-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-neutral-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="sec"], [data-color-scheme][data-color="sec"] {
  --ds-color-background-default: var(--ds-color-sec-background-default);
  --ds-color-background-tinted: var(--ds-color-sec-background-tinted);
  --ds-color-surface-default: var(--ds-color-sec-surface-default);
  --ds-color-surface-tinted: var(--ds-color-sec-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-sec-surface-hover);
  --ds-color-surface-active: var(--ds-color-sec-surface-active);
  --ds-color-border-subtle: var(--ds-color-sec-border-subtle);
  --ds-color-border-default: var(--ds-color-sec-border-default);
  --ds-color-border-strong: var(--ds-color-sec-border-strong);
  --ds-color-text-subtle: var(--ds-color-sec-text-subtle);
  --ds-color-text-default: var(--ds-color-sec-text-default);
  --ds-color-base-default: var(--ds-color-sec-base-default);
  --ds-color-base-hover: var(--ds-color-sec-base-hover);
  --ds-color-base-active: var(--ds-color-sec-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-sec-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-sec-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="success"], [data-color-scheme][data-color="success"] {
  --ds-color-background-default: var(--ds-color-success-background-default);
  --ds-color-background-tinted: var(--ds-color-success-background-tinted);
  --ds-color-surface-default: var(--ds-color-success-surface-default);
  --ds-color-surface-tinted: var(--ds-color-success-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-success-surface-hover);
  --ds-color-surface-active: var(--ds-color-success-surface-active);
  --ds-color-border-subtle: var(--ds-color-success-border-subtle);
  --ds-color-border-default: var(--ds-color-success-border-default);
  --ds-color-border-strong: var(--ds-color-success-border-strong);
  --ds-color-text-subtle: var(--ds-color-success-text-subtle);
  --ds-color-text-default: var(--ds-color-success-text-default);
  --ds-color-base-default: var(--ds-color-success-base-default);
  --ds-color-base-hover: var(--ds-color-success-base-hover);
  --ds-color-base-active: var(--ds-color-success-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-success-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-success-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="warning"], [data-color-scheme][data-color="warning"] {
  --ds-color-background-default: var(--ds-color-warning-background-default);
  --ds-color-background-tinted: var(--ds-color-warning-background-tinted);
  --ds-color-surface-default: var(--ds-color-warning-surface-default);
  --ds-color-surface-tinted: var(--ds-color-warning-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-warning-surface-hover);
  --ds-color-surface-active: var(--ds-color-warning-surface-active);
  --ds-color-border-subtle: var(--ds-color-warning-border-subtle);
  --ds-color-border-default: var(--ds-color-warning-border-default);
  --ds-color-border-strong: var(--ds-color-warning-border-strong);
  --ds-color-text-subtle: var(--ds-color-warning-text-subtle);
  --ds-color-text-default: var(--ds-color-warning-text-default);
  --ds-color-base-default: var(--ds-color-warning-base-default);
  --ds-color-base-hover: var(--ds-color-warning-base-hover);
  --ds-color-base-active: var(--ds-color-warning-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-warning-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-warning-base-contrast-default);
}

}
